USE [master]
GO
/****** Object:  Database [EFCore]    Script Date: 12-03-2022 23:41:33 ******/
CREATE DATABASE [EFCore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EFCore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EFCore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EFCore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EFCore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EFCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EFCore]
GO
USE [EFCore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12-03-2022 23:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12-03-2022 23:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12-03-2022 23:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220310153038_intial', N'6.0.3')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 
GO
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (1, N'Books')
GO
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (2, N'Courses')
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 
GO
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [UnitPrice], [CategoryId]) VALUES (1, N'MVC Book', N'MVC Book', CAST(999.00 AS Decimal(18, 2)), 1)
GO
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [UnitPrice], [CategoryId]) VALUES (3, N'Azure Book', N'Azure Book', CAST(999.00 AS Decimal(18, 2)), 1)
GO
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [UnitPrice], [CategoryId]) VALUES (4, N'ASPNET Book', N'ASPNET Book', CAST(999.00 AS Decimal(18, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 12-03-2022 23:41:34 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
/****** Object:  StoredProcedure [dbo].[AddUpdateProduct]    Script Date: 12-03-2022 23:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[AddUpdateProduct]
(
@Name varchar(250),
@Description varchar(250),
@UnitPrice decimal(18,2),
@CategoryId   int,
@action varchar(10),
@ProductId int=0
)
as 
begin
IF(@action = 'add')  
 BEGIN 
 insert into Products values(@Name,@Description,@UnitPrice,@CategoryId)
 END
 IF(@action = 'update')
 BEGIN
 update Products set Name=@Name,Description=@Description,UnitPrice=@UnitPrice,CategoryId=@CategoryId where ProductId=@ProductId
 END
 IF(@action = 'delete')
 BEGIN
 delete from Products where ProductId=@ProductId
 END
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_Product]    Script Date: 12-03-2022 23:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_Product]
@ProductId int
As
begin
Select * from Products where ProductId=@ProductId
end
GO
USE [master]
GO
